.item {
  width: 90px;
  height: 60px;
  margin: 0 5px;

  border-radius: 10px;
  background-color: #e8e8e8;

  display: flex;
  justify-content: center;
  flex-direction: column;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.04em;

  color: #000000;
}

@media screen and (max-width: 768px) {
  .item {
    width: 84px;
    height: 57px;

    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 580px) {
  .item {
    margin: 0;
  }
}
